**/*.map
**/package-lock.json
**/tsconfig.json
**/tslint.json
**/@types/**
*.vsix
.DS_Store
.gitignore
.mocha-reporter/**
.vscode/**
.vscode-test/**
.vscode test/**

assets/**/*.gif
azure-pipelines.yml
client/.nyc_output/**
client/coverage/**
client/install-engine.sh
client/out/test/**
client/src/**
client/test/**
test-data
node_modules/**
scripts/**
server/.nyc_output/**
server/coverage/**
server/out/test/**
server/src/**
server/test/**
src/**
test/**
